# QIDI Plus4 V1.0.0

[include plr.cfg]
[include gcode_macro.cfg]
[include time_update.cfg]

# Plugins
[include timelapse.cfg]
[include KAMP_Settings.cfg]
[include box.cfg]

[mcu]
serial: /dev/ttyS2
restart_method: command
baud:500000

[mcu U_1]
serial: /dev/ttyS0
restart_method: command
baud:500000

[temperature_sensor GD32]
sensor_type: temperature_mcu
sensor_mcu: mcu

[respond]
default_type: echo

[exclude_object]

[save_variables] 
filename =/home/mks/printer_data/config/saved_variables.cfg

[resonance_tester]
accel_per_hz: 150
max_smoothing:0.5

[duplicate_pin_override]
pins:

[bed_screws]
screw1:25,21
screw1_name: Front left
screw2: 285,21
screw2_name: Front right
screw3: 285,281
screw3_name: Last right
screw4: 25,281

#[screws_tilt_adjust]
#screw_thread: CW-M4
# X plus 4 
# [dependencies]
# none
# https://github.com/qidi-community

[screws_tilt_adjust]
screw1:0,20
screw1_name: Front left
screw2: 260,20
screw2_name: Front right
screw3: 260,280
screw3_name: Back right
screw4: 0,280
screw4_name: Back left
screw_thread: CW-M4

[gcode_macro SCREWS_TILT_CALCULATE]
rename_existing: _SCREWS_TILT_CALCULATE_BASE
gcode:
    { action_respond_info("starting screw rotation calculation...") }
    M141 S0 # disable chamber heater (see https://github.com/qidi-community/Plus4-Wiki/tree/main/content/chamber-heater-issue)
    M4031
    G28
    _SCREWS_TILT_CALCULATE_BASE

[hall_filament_width_sensor]
adc1: PA2
adc2: PA3
cal_dia1: 1.50
cal_dia2: 2.0
raw_dia1: 14197
raw_dia2: 15058
default_nominal_filament_diameter: 1.75
max_difference: 0
measurement_delay: 50
enable: false
measurement_interval: 10
logging: False
min_diameter: 0.3
use_current_dia_while_delay: False
pause_on_runout:True
runout_gcode:
            RESET_FILAMENT_WIDTH_SENSOR
            M118 Filament run out
            {% set can_auto_reload = printer.save_variables.variables.auto_reload_detect|default(0) %}
            {% if can_auto_reload == 1 %}
              AUTO_RELOAD_FILAMENT
            {% endif %}
event_delay: 3.0
pause_delay: 0.5

[extruder]
step_pin:PB9
dir_pin:PB8
enable_pin:!PC15
rotation_distance: 53.7  #22.6789511 Bondtech 5mm Drive Gears
gear_ratio: 1517:170
microsteps: 16
full_steps_per_rotation: 200 #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
min_temp: 0
max_temp: 380
min_extrude_temp: 175
smooth_time: 0.000001
heater_pin:PB3
sensor_type:MAX6675
sensor_pin:PB12
spi_speed: 100000
spi_software_sclk_pin:PB13
spi_software_mosi_pin:PA11
spi_software_miso_pin:PB14
max_power: 1

control : pid  
pid_Kp=33.555
pid_Ki=4.76
pid_Kd=59.141

pressure_advance: 0.032
pressure_advance_smooth_time: 0.03
max_extrude_cross_section:500
instantaneous_corner_velocity: 10.000
max_extrude_only_distance: 1000.0
max_extrude_only_velocity:5000
max_extrude_only_accel:5000
step_pulse_duration:0.000002

[tmc2209 extruder]
uart_pin:PC13
interpolate: True
run_current: 0.714
stealthchop_threshold: 0

[adxl345]
cs_pin:PA4
spi_software_sclk_pin:PA5
spi_software_mosi_pin:PA7
spi_software_miso_pin:PA6
axes_map: -x, z, -y

[printer]
kinematics:corexy
max_velocity: 600
max_accel: 20000
max_accel_to_decel: 10000
max_z_velocity: 20
max_z_accel: 500
square_corner_velocity: 8

[stepper_x]
step_pin:U_1:PB4
dir_pin:!U_1:PB3
enable_pin:!U_1:PB5
microsteps:32
rotation_distance: 38.82
full_steps_per_rotation:200 # set to 400 for 0.9 degree stepper
endstop_pin:tmc2240_stepper_x:virtual_endstop
position_min: -1.5
position_endstop: -1.5
position_max:307
homing_speed:50
homing_retract_dist:0
homing_positive_dir:False
step_pulse_duration:0.0000001

[stepper_y]
step_pin:U_1:PC14
dir_pin:!U_1:PC13
enable_pin:!U_1:PC15
microsteps: 32
rotation_distance: 38.82
full_steps_per_rotation:200 # set to 400 for 0.9 degree stepper
endstop_pin:tmc2240_stepper_y:virtual_endstop
position_min: -2
position_endstop: -2
position_max:325
homing_speed:50
homing_retract_dist:0
homing_positive_dir:False
step_pulse_duration:0.0000001

[stepper_z]
step_pin:U_1:PB1
dir_pin:U_1:PB6
enable_pin:!U_1:PB0
microsteps: 128
rotation_distance: 4
full_steps_per_rotation: 200
endstop_pin:probe:z_virtual_endstop # U_1:PC3 for Z-max
endstop_pin_reverse:tmc2209_stepper_z:virtual_endstop
#position_endstop:1
position_endstop_reverse:285
position_max:285
position_min: -4
homing_speed: 10
homing_speed_reverse: 10
second_homing_speed: 5
#homing_retract_dist: 5.0
homing_retract_dist: 0
homing_positive_dir:false
homing_positive_dir_reverse:true
#step_pulse_duration:0.0000001

[stepper_z1]
step_pin:U_1:PC10
dir_pin:U_1:PA15
enable_pin:!U_1:PC11
microsteps: 128
rotation_distance: 4
full_steps_per_rotation: 200
endstop_pin_reverse:tmc2209_stepper_z1:virtual_endstop
#step_pulse_duration:0.0000001

[z_tilt]
z_positions:
    -17.5,152.5
    335.7,152.5

points:
    40, 171.3           # Assumes we are using the stew675 beacon mount offsets of X=0, Y=-18.8
    265, 171.3          # Assumes we are using the stew675 beacon mount offsets of X=0, Y=-18.8

speed: 200
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.006

[bed_mesh]
speed: 150
horizontal_move_z: 2
zero_reference_position: 152.5, 152.5
mesh_min: 22,22
mesh_max: 283,283
probe_count: 14,14
algorithm:bicubic
bicubic_tension: 0.3
mesh_pps: 2,2
fade_start: 2
fade_end: 10
fade_target: 0
split_delta_z: 0.01
move_check_distance: 4

[tmc2240 stepper_y]
cs_pin:U_1:PB9
spi_software_sclk_pin:U_1:PA5
spi_software_mosi_pin:U_1:PA7
spi_software_miso_pin:U_1:PA6
spi_speed:200000
run_current: 1.07
#hold_current: 0.5
interpolate:true
stealthchop_threshold:0
diag0_pin:!U_1:PC0
driver_SGT:1

[tmc2240 stepper_x]
cs_pin:U_1:PD2
spi_software_sclk_pin:U_1:PA5
spi_software_mosi_pin:U_1:PA7
spi_software_miso_pin:U_1:PA6
spi_speed:200000
run_current: 1.07
# hold_current: 0.5
interpolate:true
stealthchop_threshold:0
diag0_pin:!U_1:PB8
driver_SGT:1

[tmc2209 stepper_z]
uart_pin:U_1: PB7
run_current: 1.07
# hold_current: 0.17
interpolate: True
stealthchop_threshold: 9999999999
diag_pin:^U_1:PA13
driver_SGTHRS:100

[tmc2209 stepper_z1]
uart_pin:U_1: PC5
run_current: 1.07
# hold_current: 0.17
interpolate: True
stealthchop_threshold: 9999999999
diag_pin:^U_1:PC12
driver_SGTHRS:100

[heater_bed]
heater_pin: U_1:PB10
sensor_type:NTC 100K MGB18-104F39050L32
sensor_pin:U_1: PA0
max_power: 1.0
control = pid
pid_Kp=63.418 
pid_Ki=1.342 
pid_Kd=749.125
pwm_cycle_time:0.001
min_temp: -60
max_temp: 125


# ORIGINAL
#[heater_generic chamber]
#heater_pin:U_1:PC8
#max_power:0.4
#sensor_type:NTC 100K MGB18-104F39050L32
#sensor_pin:U_1:PA1

#control = pid
#pid_Kp=63.418 
#pid_Ki=1.342 
#pid_Kd=749.125

#min_temp:-100
#max_temp:70
#target_min_temp:45
#target_max_temp:65
#heat_with_heater_bed:True
#heat_with_heater_bed_tem_add:25

# From https://github.com/guykuo/Plus4-Wiki/tree/main/content/chamber-heater-investigation
[temperature_sensor chamber_probe]
sensor_type:NTC 100K MGB18-104F39050L32
sensor_pin:U_1:PA1

[heater_generic chamber]
heater_pin:U_1:PC8
max_power:0.4
control = pid
pid_Kp=63.418 
pid_Ki=1.342 
pid_Kd=749.125
min_temp:-100
max_temp:80
target_min_temp: 10                  # Uncomment this line for Firmware versions v1.6.0 and later
sensor_type: temperature_combined
sensor_list: temperature_sensor GD32, temperature_sensor chamber_probe, temperature_sensor GD32, temperature_sensor GD32
combination_method: mean
maximum_deviation: 70

[verify_heater chamber]
max_error: 400
check_gain_time:600
hysteresis: 5
heating_gain: 2
position_z: 270

[temperature_sensor Chamber_Thermal_Protection_Sensor]
sensor_type:NTC 100K MGB18-104F39050L32
sensor_pin:U_1:PC2
min_temp:-100
max_temp:140

[verify_heater extruder]
max_error: 120
check_gain_time:20
hysteresis: 5
heating_gain: 1

[verify_heater heater_bed]
max_error: 200
check_gain_time:60
hysteresis: 10
heating_gain: 1

[fan_generic auxiliary_cooling_fan]
pin: U_1:PA8
shutdown_speed: 0.0
cycle_time: 0.0100
hardware_pwm: false
kick_start_time: 0.100
off_below: 0.0

[fan_generic chamber_circulation_fan]
pin: U_1:PC9
shutdown_speed: 0.0
cycle_time: 0.0100
hardware_pwm: false
kick_start_time: 0.100
off_below: 0.0

[chamber_fan chamber_fan]
pin:U_1:PA4
max_power: 1.0
shutdown_speed: 0
kick_start_time: 0.5
heater:chamber
fan_speed: 1.0
off_below: 0
idle_timeout:60
idle_speed:1.0

[heater_fan hotend_fan]
pin:PB5
max_power: 1.0
shutdown_speed:1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0
off_below: 0

[heater_fan hotend_fan2]
pin:PB4
max_power: 1.0
shutdown_speed:1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0
off_below: 0

[heater_fan hotend_fan3]
pin:PB10
max_power: 1.0
shutdown_speed:1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0
off_below: 0

[fan_generic cooling_fan]
pin:PA8
max_power: 1.0
shutdown_speed:0
cycle_time: 0.010
hardware_pwm: False
kick_start_time: 0.100
off_below: 0.0
tachometer_pin:PA9
tachometer_ppr: 2
tachometer_poll_interval: 0.0015

[controller_fan board_fan]
pin:U_1:PC4
max_power:1.0
shutdown_speed:1.0
cycle_time:0.01
fan_speed: 1.0
heater:chamber
stepper:stepper_x,stepper_y

[output_pin caselight]
pin: U_1:PC7
pwm: false
shutdown_value:1
value:1

[output_pin beeper]
pin:U_1: PA2
pwm: false
shutdown_value:0
value:0

[output_pin ctlyd]
pin:U_1: PA14
pwm: false
shutdown_value:0
value:0

### Required to commment out due to
# Beacon
#
# https://github.com/guykuo/Plus4-Wiki/blob/main/content/bed-scanning-probes/Beacon3D/RevH-Normal/README.md

#[smart_effector]
#pin:U_1:PC1
#recovery_time:0
#x_offset: 25
#y_offset: 1.3
#z_offset: 0.000001
#speed:5
#lift_speed:5
#probe_accel:50
#samples: 2
#samples_result: submaxmin
#sample_retract_dist: 5
#samples_tolerance: 0.05
#samples_tolerance_retries:5

#[qdprobe]
#pin:!PA10
#z_offset:0.000001

#[bed_mesh]
#speed:150
#horizontal_move_z:5
#mesh_min:25,10
#mesh_max:295,295
#probe_count:9,9
#algorithm:bicubic
#bicubic_tension:0.4
#mesh_pps: 2,2

[filament_switch_sensor fila]
pause_on_runout: True
runout_gcode:
    M118 Filament tangle detected
event_delay: 3.0
pause_delay: 0.5
switch_pin:U_1:PC3

[resonance_tester]
accel_chip:adxl345
probe_points:
   150, 150, 10

[idle_timeout]
timeout: 43200
gcode:
    PRINT_END

[pause_resume]

[display_status]

[gcode_macro_break]

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode:CANCEL_PRINT
    
[print_stats]

[force_move]
enable_force_move : True

[beacon]
#serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-if00      # Replaces the X's with your unit's serial number
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_FDC6E9D75157383837202020FF021319-if00    # Example only, DO NOT uncomment this line
x_offset: 0                     # Assumes using stew675 beacon mount's offsets
y_offset: -18.8                 # Assumes using stew675 beacon mount's offsets
mesh_main_direction: x
mesh_runs: 2
contact_max_hotend_temperature: 270  # 180
home_xy_position: 152.5, 152.5      # update with your safe Z home position
home_z_hop: 5
home_z_hop_speed: 30
home_xy_move_speed: 300
home_y_before_x: False
home_method: proximity
home_method_when_homed: proximity
home_autocalibrate: never
home_gcode_pre_x: _BEACON_HOME_PRE_X
home_gcode_post_x: _BEACON_HOME_POST_X
home_gcode_pre_y: _BEACON_HOME_PRE_Y
home_gcode_post_y: _BEACON_HOME_POST_Y
contact_activate_gcode: _BEACON_CONTACT_PRE_Z
contact_deactivate_gcode: _BEACON_CONTACT_POST_Z
contact_sensitivity: 1          # You can try the default of 0, but if your
                                # automatic Z is too high, then put back to 1
contact_latency_min: 2          # You can try the default of 0, but if your
                                # automatic Z is high, put back to 2, 3 or 4
autocal_tolerance: 0.006

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 48.2
#*# shaper_type_y = zv
#*# shaper_freq_y = 38.0
#*#
#*# [bed_mesh kamp]
#*# version = 1
#*# points =
#*# 	  0.012701, 0.003998, -0.006957, -0.005919, -0.003979
#*# 	  0.021212, 0.009171, -0.000578, -0.001757, -0.001133
#*# 	  0.029583, 0.016389, 0.000000, 0.003363, 0.009689
#*# 	  0.030296, 0.022791, 0.005789, 0.000704, 0.003408
#*# 	  0.020408, 0.018208, -0.000488, -0.005692, -0.001862
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.3
#*# min_x = 112.501
#*# max_x = 192.499
#*# min_y = 112.5
#*# max_y = 192.5
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.009816, 0.016125, 0.011707, 0.018987, 0.005505, -0.000325, -0.017703, -0.020510, -0.016213, -0.021907, -0.014651, -0.000744, 0.023747, 0.037287
#*# 	0.030468, 0.019221, 0.020105, 0.028512, 0.024711, 0.012343, -0.007216, -0.014626, -0.012066, -0.010291, -0.000598, 0.014710, 0.035844, 0.061221
#*# 	0.019156, 0.016188, 0.013547, 0.009293, 0.010323, 0.006828, -0.013023, -0.026096, -0.023953, -0.019686, -0.011714, -0.002785, 0.014859, 0.041086
#*# 	0.020801, 0.024343, 0.024880, 0.019409, 0.012556, 0.001085, -0.007719, -0.013143, -0.008751, -0.013540, -0.014579, 0.004074, 0.022453, 0.055940
#*# 	0.032531, 0.033900, 0.030287, 0.021721, 0.012023, 0.010779, 0.003451, -0.002837, -0.007691, -0.009037, 0.001078, 0.014206, 0.030164, 0.065388
#*# 	0.033899, 0.037128, 0.035463, 0.028403, 0.023890, 0.013974, 0.006389, -0.004826, -0.010062, -0.011900, -0.002249, 0.011549, 0.032268, 0.062339
#*# 	0.025992, 0.036656, 0.043434, 0.037749, 0.028577, 0.011499, 0.001264, 0.003432, 0.003158, -0.007622, -0.010623, 0.001696, 0.031832, 0.066337
#*# 	0.031621, 0.036514, 0.034240, 0.033965, 0.032350, 0.029368, 0.010309, -0.007318, -0.004130, -0.001742, -0.000711, 0.005786, 0.023147, 0.052139
#*# 	0.033998, 0.028161, 0.026340, 0.035491, 0.032598, 0.021088, -0.007969, -0.017877, -0.012332, -0.011378, -0.005508, -0.005388, 0.012336, 0.051890
#*# 	0.041097, 0.037864, 0.036437, 0.033118, 0.025084, 0.011253, -0.007001, -0.011605, -0.010143, -0.013969, -0.014547, -0.006640, 0.017179, 0.049226
#*# 	0.056360, 0.043888, 0.033273, 0.026995, 0.029604, 0.026559, 0.007464, -0.007329, -0.019154, -0.014307, -0.004155, 0.006713, 0.020823, 0.049830
#*# 	0.051510, 0.055132, 0.048598, 0.038439, 0.029048, 0.018891, 0.010604, 0.001027, -0.010438, -0.014841, -0.004980, 0.010302, 0.030815, 0.061196
#*# 	0.069241, 0.065232, 0.065286, 0.050750, 0.029636, 0.023671, 0.024893, 0.016421, 0.001155, -0.006814, 0.000875, 0.022806, 0.044952, 0.077977
#*# 	0.085037, 0.091127, 0.081572, 0.071618, 0.062655, 0.059735, 0.047241, 0.036388, 0.029290, 0.028397, 0.041369, 0.063915, 0.094742, 0.115112
#*# x_count = 14
#*# y_count = 14
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.3
#*# min_x = 22.0
#*# max_x = 283.0
#*# min_y = 22.0
#*# max_y = 283.0
#*#
#*# [beacon model default]
#*# model_coef = 1.552111878985321,
#*# 	  1.8964291847360917,
#*# 	  0.7902754073091233,
#*# 	  0.38933122616270627,
#*# 	  0.36386335131255576,
#*# 	  0.3162647875925102,
#*# 	  -0.2765892258396721,
#*# 	  -0.41468133710977,
#*# 	  0.17098695688623475,
#*# 	  0.21838555822741612
#*# model_domain = 1.860101439883218e-07,1.9359224713242423e-07
#*# model_range = 0.200052,5.000052
#*# model_temp = 42.251524
#*# model_offset = 0.00000
