# QIDI Plus4 V1.0.0

[include plr.cfg]
[include gcode_macro.cfg]
[include time_update.cfg]

# Plugins
[include timelapse.cfg]
[include KAMP_Settings.cfg]
[include box.cfg]

[mcu]
serial: /dev/ttyS2
restart_method: command
baud:500000

[mcu U_1]
serial: /dev/ttyS0
restart_method: command
baud:500000

[temperature_sensor GD32]
sensor_type: temperature_mcu
sensor_mcu: mcu

[respond]
default_type: echo

[exclude_object]

[save_variables] 
filename =/home/mks/printer_data/config/saved_variables.cfg

[resonance_tester]
accel_per_hz: 150
max_smoothing:0.5

[duplicate_pin_override]
pins:

[bed_screws]
screw1:25,21
screw1_name: Front left
screw2: 285,21
screw2_name: Front right
screw3: 285,281
screw3_name: Last right
screw4: 25,281

#[screws_tilt_adjust]
#screw_thread: CW-M4
# X plus 4 
# [dependencies]
# none
# https://github.com/qidi-community

[screws_tilt_adjust]
screw1:0,20
screw1_name: Front left
screw2: 260,20
screw2_name: Front right
screw3: 260,280
screw3_name: Back right
screw4: 0,280
screw4_name: Back left
screw_thread: CW-M4

[gcode_macro SCREWS_TILT_CALCULATE]
rename_existing: _SCREWS_TILT_CALCULATE_BASE
gcode:
    { action_respond_info("starting screw rotation calculation...") }
    M141 S0 # disable chamber heater (see https://github.com/qidi-community/Plus4-Wiki/tree/main/content/chamber-heater-issue)
    M4031
    G28
    _SCREWS_TILT_CALCULATE_BASE

[hall_filament_width_sensor]
adc1: PA2
adc2: PA3
cal_dia1: 1.50
cal_dia2: 2.0
raw_dia1: 14197
raw_dia2: 15058
default_nominal_filament_diameter: 1.75
max_difference: 0
measurement_delay: 50
enable: false
measurement_interval: 10
logging: False
min_diameter: 0.3
use_current_dia_while_delay: False
pause_on_runout:True
runout_gcode:
            RESET_FILAMENT_WIDTH_SENSOR
            M118 Filament run out
            {% set can_auto_reload = printer.save_variables.variables.auto_reload_detect|default(0) %}
            {% if can_auto_reload == 1 %}
              AUTO_RELOAD_FILAMENT
            {% endif %}
event_delay: 3.0
pause_delay: 0.5

[extruder]
step_pin:PB9
dir_pin:PB8
enable_pin:!PC15
rotation_distance: 53.7  #22.6789511 Bondtech 5mm Drive Gears
gear_ratio: 1517:170
microsteps: 16
full_steps_per_rotation: 200 #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
min_temp: 0
max_temp: 380
min_extrude_temp: 175
smooth_time: 0.000001
heater_pin:PB3
sensor_type:MAX6675
sensor_pin:PB12
spi_speed: 100000
spi_software_sclk_pin:PB13
spi_software_mosi_pin:PA11
spi_software_miso_pin:PB14
max_power: 1

control : pid  
pid_Kp=33.555
pid_Ki=4.76
pid_Kd=59.141

pressure_advance: 0.032
pressure_advance_smooth_time: 0.03
max_extrude_cross_section:500
instantaneous_corner_velocity: 10.000
max_extrude_only_distance: 1000.0
max_extrude_only_velocity:5000
max_extrude_only_accel:5000
step_pulse_duration:0.000002

[tmc2209 extruder]
uart_pin:PC13
interpolate: True
run_current: 0.714
stealthchop_threshold: 0

[adxl345]
cs_pin:PA4
spi_software_sclk_pin:PA5
spi_software_mosi_pin:PA7
spi_software_miso_pin:PA6
axes_map: -x, z, -y

[printer]
kinematics:corexy
max_velocity: 600
max_accel: 20000
max_accel_to_decel: 10000
max_z_velocity: 20
max_z_accel: 500
square_corner_velocity: 8

[stepper_x]
step_pin:U_1:PB4
dir_pin:!U_1:PB3
enable_pin:!U_1:PB5
microsteps:32
rotation_distance: 38.82
full_steps_per_rotation:200 # set to 400 for 0.9 degree stepper
endstop_pin:tmc2240_stepper_x:virtual_endstop
position_min: -1.5
position_endstop: -1.5
position_max:307
homing_speed:50
homing_retract_dist:0
homing_positive_dir:False
step_pulse_duration:0.0000001

[stepper_y]
step_pin:U_1:PC14
dir_pin:!U_1:PC13
enable_pin:!U_1:PC15
microsteps: 32
rotation_distance: 38.82
full_steps_per_rotation:200 # set to 400 for 0.9 degree stepper
endstop_pin:tmc2240_stepper_y:virtual_endstop
position_min: -2
position_endstop: -2
position_max:325
homing_speed:50
homing_retract_dist:0
homing_positive_dir:False
step_pulse_duration:0.0000001

[stepper_z]
step_pin:U_1:PB1
dir_pin:U_1:PB6
enable_pin:!U_1:PB0
microsteps: 128
rotation_distance: 4
full_steps_per_rotation: 200
endstop_pin:probe:z_virtual_endstop # U_1:PC3 for Z-max
endstop_pin_reverse:tmc2209_stepper_z:virtual_endstop
#position_endstop:1
position_endstop_reverse:285
position_max:285
position_min: -4
homing_speed: 10
homing_speed_reverse: 10
second_homing_speed: 5
#homing_retract_dist: 5.0
homing_retract_dist: 0
homing_positive_dir:false
homing_positive_dir_reverse:true
#step_pulse_duration:0.0000001

[stepper_z1]
step_pin:U_1:PC10
dir_pin:U_1:PA15
enable_pin:!U_1:PC11
microsteps: 128
rotation_distance: 4
full_steps_per_rotation: 200
endstop_pin_reverse:tmc2209_stepper_z1:virtual_endstop
#step_pulse_duration:0.0000001

[z_tilt]
z_positions:
    -17.5,152.5
    335.7,152.5

points:
    40, 171.3           # Assumes we are using the stew675 beacon mount offsets of X=0, Y=-18.8
    265, 171.3          # Assumes we are using the stew675 beacon mount offsets of X=0, Y=-18.8

speed: 200
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.006

[bed_mesh]
speed: 150
horizontal_move_z: 2
zero_reference_position: 152.5, 152.5
mesh_min: 22,22
mesh_max: 283,283
probe_count: 14,14
algorithm:bicubic
bicubic_tension: 0.3
mesh_pps: 2,2
fade_start: 2
fade_end: 10
fade_target: 0
split_delta_z: 0.01
move_check_distance: 4

[tmc2240 stepper_y]
cs_pin:U_1:PB9
spi_software_sclk_pin:U_1:PA5
spi_software_mosi_pin:U_1:PA7
spi_software_miso_pin:U_1:PA6
spi_speed:200000
run_current: 1.07
#hold_current: 0.5
interpolate:true
stealthchop_threshold:0
diag0_pin:!U_1:PC0
driver_SGT:1

[tmc2240 stepper_x]
cs_pin:U_1:PD2
spi_software_sclk_pin:U_1:PA5
spi_software_mosi_pin:U_1:PA7
spi_software_miso_pin:U_1:PA6
spi_speed:200000
run_current: 1.07
# hold_current: 0.5
interpolate:true
stealthchop_threshold:0
diag0_pin:!U_1:PB8
driver_SGT:1

[tmc2209 stepper_z]
uart_pin:U_1: PB7
run_current: 1.07
# hold_current: 0.17
interpolate: True
stealthchop_threshold: 9999999999
diag_pin:^U_1:PA13
driver_SGTHRS:100

[tmc2209 stepper_z1]
uart_pin:U_1: PC5
run_current: 1.07
# hold_current: 0.17
interpolate: True
stealthchop_threshold: 9999999999
diag_pin:^U_1:PC12
driver_SGTHRS:100

[heater_bed]
heater_pin: U_1:PB10
sensor_type:NTC 100K MGB18-104F39050L32
sensor_pin:U_1: PA0
max_power: 1.0
control = pid
pid_Kp=63.418 
pid_Ki=1.342 
pid_Kd=749.125
pwm_cycle_time:0.001
min_temp: -60
max_temp: 125


# ORIGINAL
#[heater_generic chamber]
#heater_pin:U_1:PC8
#max_power:0.4
#sensor_type:NTC 100K MGB18-104F39050L32
#sensor_pin:U_1:PA1

#control = pid
#pid_Kp=63.418 
#pid_Ki=1.342 
#pid_Kd=749.125

#min_temp:-100
#max_temp:70
#target_min_temp:45
#target_max_temp:65
#heat_with_heater_bed:True
#heat_with_heater_bed_tem_add:25

# From https://github.com/guykuo/Plus4-Wiki/tree/main/content/chamber-heater-investigation
[temperature_sensor chamber_probe]
sensor_type:NTC 100K MGB18-104F39050L32
sensor_pin:U_1:PA1

[heater_generic chamber]
heater_pin:U_1:PC8
max_power:0.4
control = pid
pid_Kp=63.418 
pid_Ki=1.342 
pid_Kd=749.125
min_temp:-100
max_temp:80
target_min_temp: 10                  # Uncomment this line for Firmware versions v1.6.0 and later
sensor_type: temperature_combined
sensor_list: temperature_sensor GD32, temperature_sensor chamber_probe, temperature_sensor GD32, temperature_sensor GD32
combination_method: mean
maximum_deviation: 70

[verify_heater chamber]
max_error: 400
check_gain_time:600
hysteresis: 5
heating_gain: 2
position_z: 270

[temperature_sensor Chamber_Thermal_Protection_Sensor]
sensor_type:NTC 100K MGB18-104F39050L32
sensor_pin:U_1:PC2
min_temp:-100
max_temp:140

[verify_heater extruder]
max_error: 120
check_gain_time:20
hysteresis: 5
heating_gain: 1

[verify_heater heater_bed]
max_error: 200
check_gain_time:60
hysteresis: 10
heating_gain: 1

[fan_generic auxiliary_cooling_fan]
pin: U_1:PA8
shutdown_speed: 0.0
cycle_time: 0.0100
hardware_pwm: false
kick_start_time: 0.100
off_below: 0.0

[fan_generic chamber_circulation_fan]
pin: U_1:PC9
shutdown_speed: 0.0
cycle_time: 0.0100
hardware_pwm: false
kick_start_time: 0.100
off_below: 0.0

[chamber_fan chamber_fan]
pin:U_1:PA4
max_power: 1.0
shutdown_speed: 0
kick_start_time: 0.5
heater:chamber
fan_speed: 1.0
off_below: 0
idle_timeout:60
idle_speed:1.0

[heater_fan hotend_fan]
pin:PB5
max_power: 1.0
shutdown_speed:1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0
off_below: 0

[heater_fan hotend_fan2]
pin:PB4
max_power: 1.0
shutdown_speed:1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0
off_below: 0

[heater_fan hotend_fan3]
pin:PB10
max_power: 1.0
shutdown_speed:1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0
off_below: 0

[fan_generic cooling_fan]
pin:PA8
max_power: 1.0
shutdown_speed:0
cycle_time: 0.010
hardware_pwm: False
kick_start_time: 0.100
off_below: 0.0
tachometer_pin:PA9
tachometer_ppr: 2
tachometer_poll_interval: 0.0015

[controller_fan board_fan]
pin:U_1:PC4
max_power:1.0
shutdown_speed:1.0
cycle_time:0.01
fan_speed: 1.0
heater:chamber
stepper:stepper_x,stepper_y

[output_pin caselight]
pin: U_1:PC7
pwm: false
shutdown_value:1
value:1

[output_pin beeper]
pin:U_1: PA2
pwm: false
shutdown_value:0
value:0

[output_pin ctlyd]
pin:U_1: PA14
pwm: false
shutdown_value:0
value:0

### Required to commment out due to
# Beacon
#
# https://github.com/guykuo/Plus4-Wiki/blob/main/content/bed-scanning-probes/Beacon3D/RevH-Normal/README.md

#[smart_effector]
#pin:U_1:PC1
#recovery_time:0
#x_offset: 25
#y_offset: 1.3
#z_offset: 0.000001
#speed:5
#lift_speed:5
#probe_accel:50
#samples: 2
#samples_result: submaxmin
#sample_retract_dist: 5
#samples_tolerance: 0.05
#samples_tolerance_retries:5

#[qdprobe]
#pin:!PA10
#z_offset:0.000001

#[bed_mesh]
#speed:150
#horizontal_move_z:5
#mesh_min:25,10
#mesh_max:295,295
#probe_count:9,9
#algorithm:bicubic
#bicubic_tension:0.4
#mesh_pps: 2,2

[filament_switch_sensor fila]
pause_on_runout: True
runout_gcode:
    M118 Filament tangle detected
event_delay: 3.0
pause_delay: 0.5
switch_pin:U_1:PC3

[resonance_tester]
accel_chip:adxl345
probe_points:
   150, 150, 10

[idle_timeout]
timeout: 43200
gcode:
    PRINT_END

[pause_resume]

[display_status]

[gcode_macro_break]

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode:CANCEL_PRINT
    
[print_stats]

[force_move]
enable_force_move : True

[beacon]
#serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-if00      # Replaces the X's with your unit's serial number
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_FDC6E9D75157383837202020FF021319-if00    # Example only, DO NOT uncomment this line
x_offset: 0                     # Assumes using stew675 beacon mount's offsets
y_offset: -18.8                 # Assumes using stew675 beacon mount's offsets
mesh_main_direction: x
mesh_runs: 2
contact_max_hotend_temperature: 270  # 180
home_xy_position: 152.5, 152.5      # update with your safe Z home position
home_z_hop: 5
home_z_hop_speed: 30
home_xy_move_speed: 300
home_y_before_x: False
home_method: proximity
home_method_when_homed: proximity
home_autocalibrate: never
home_gcode_pre_x: _BEACON_HOME_PRE_X
home_gcode_post_x: _BEACON_HOME_POST_X
home_gcode_pre_y: _BEACON_HOME_PRE_Y
home_gcode_post_y: _BEACON_HOME_POST_Y
contact_activate_gcode: _BEACON_CONTACT_PRE_Z
contact_deactivate_gcode: _BEACON_CONTACT_POST_Z
contact_sensitivity: 1          # You can try the default of 0, but if your
                                # automatic Z is too high, then put back to 1
contact_latency_min: 2          # You can try the default of 0, but if your
                                # automatic Z is high, put back to 2, 3 or 4
autocal_tolerance: 0.006

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 48.2
#*# shaper_type_y = zv
#*# shaper_freq_y = 38.0
#*#
#*# [bed_mesh kamp]
#*# version = 1
#*# points =
#*# 	  0.011712, 0.005992, 0.004814, 0.001064, -0.007529, -0.008235, -0.006362, -0.001576
#*# 	  0.020038, 0.011534, 0.012127, 0.005183, 0.000716, -0.000891, -0.000783, 0.003046
#*# 	  0.026318, 0.015678, 0.010388, 0.013212, 0.003847, 0.001146, 0.003627, 0.008157
#*# 	  0.026212, 0.015558, 0.013740, 0.005374, 0.000638, -0.000401, 0.002751, 0.006405
#*# x_count = 8
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.3
#*# min_x = 73.6012
#*# max_x = 208.975
#*# min_y = 75.2784
#*# max_y = 123.968
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.023968, 0.030971, 0.022657, 0.017700, 0.010040, -0.000152, -0.005636, -0.011648, -0.008298, -0.009489, -0.002351, 0.006814, 0.024024, 0.035997
#*# 	0.038697, 0.025319, 0.021802, 0.018698, 0.015481, 0.008453, -0.002012, -0.007326, -0.006356, -0.007615, 0.004148, 0.019056, 0.025574, 0.042859
#*# 	0.024563, 0.021893, 0.017062, 0.010754, 0.001466, -0.003875, -0.010122, -0.018148, -0.017998, -0.012929, -0.010017, 0.001465, 0.019220, 0.036045
#*# 	0.035881, 0.059369, 0.072638, 0.044236, 0.017999, 0.003177, -0.003841, -0.012001, -0.007069, -0.007619, -0.004164, 0.009109, 0.018233, 0.041634
#*# 	0.048384, 0.093512, 0.120563, 0.081694, 0.022916, 0.005076, -0.001270, -0.003766, -0.003156, 0.000960, 0.005697, 0.014317, 0.028755, 0.048758
#*# 	0.041890, 0.062928, 0.070894, 0.049514, 0.023507, 0.009883, 0.002155, -0.002277, -0.000269, 0.001106, 0.004873, 0.013819, 0.033674, 0.049394
#*# 	0.032588, 0.032847, 0.026995, 0.024413, 0.019529, 0.010552, 0.003323, -0.002035, 0.001381, 0.000098, 0.001367, 0.011724, 0.030141, 0.043455
#*# 	0.031183, 0.028562, 0.024027, 0.020389, 0.022620, 0.020418, 0.007445, 0.001777, 0.003336, 0.000119, 0.002614, 0.011639, 0.026983, 0.046047
#*# 	0.029718, 0.025155, 0.022914, 0.018166, 0.013393, 0.007223, -0.002165, -0.010123, -0.007262, -0.010469, -0.002710, 0.003384, 0.022177, 0.047674
#*# 	0.036489, 0.030107, 0.025859, 0.018317, 0.013124, 0.005074, -0.009102, -0.010935, -0.008979, -0.009340, -0.003578, 0.004464, 0.022322, 0.045228
#*# 	0.036413, 0.032048, 0.022109, 0.018857, 0.017646, 0.010211, -0.001900, -0.007059, -0.006143, -0.009060, -0.002743, 0.011396, 0.027572, 0.053502
#*# 	0.045905, 0.039718, 0.033293, 0.025393, 0.019334, 0.013638, 0.004828, 0.002532, -0.002817, -0.002932, 0.006474, 0.021705, 0.038671, 0.058762
#*# 	0.054597, 0.048987, 0.043504, 0.037587, 0.025563, 0.022814, 0.013962, 0.009409, 0.007102, 0.007253, 0.014457, 0.033934, 0.050694, 0.075027
#*# 	0.065704, 0.075894, 0.069912, 0.060649, 0.052863, 0.047740, 0.038592, 0.034761, 0.035931, 0.035774, 0.046678, 0.068127, 0.098281, 0.114245
#*# x_count = 14
#*# y_count = 14
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.3
#*# min_x = 22.0
#*# max_x = 283.0
#*# min_y = 22.0
#*# max_y = 283.0
#*#
#*# [beacon model default]
#*# model_coef = 1.5641371073501322,
#*# 	  1.9086243834889223,
#*# 	  0.7767382366429328,
#*# 	  0.3870883495437668,
#*# 	  0.4068621928599099,
#*# 	  0.2897486445755243,
#*# 	  -0.3535435848712613,
#*# 	  -0.3851144852038368,
#*# 	  0.20590567908610238,
#*# 	  0.2042864273426504
#*# model_domain = 1.8638452845827994e-07,1.9365202188476336e-07
#*# model_range = 0.199948,4.999948
#*# model_temp = 40.082900
#*# model_offset = 0.00000
